/****************
Reset
****************/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

/*-----BASE STYLES-----*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

/* micro clear fix */

.clearfix {
    zoom: 1;
}

.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}


img, iframe, video, object {
    max-width: 100%;
}

/*---REUSABLE COMPONENTS-----*/

.row {
    margin: 0 auto;
    max-width: 1140px;
}

/* ---- HEADER ---- */

header {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/hero.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.logo-black {
    display: none;
    height: 50px;
    width: auto;
    float: left;
    margin: 5px 0px;
}

/* --- MAIN NAV --- */

.main-nav {
    float: right;
    list-style: none;
    margin-top: 60px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #72AED9;
}

/* --- STICKY NAV --- */

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 2px 2px #e5e5e5;
    z-index: 9999;
}

.sticky .main-nav {
    margin-top: 18px;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    padding: 16px 0;
    color: #555;
}

.sticky .logo {
    display: none;
}

.sticky .logo-black {
    display: block;
}

/*---MOBILE NAV---*/
.mobile-nav-icon {
    float: right;
    margin-top: 30px;
    cursor: pointer;
    display: none;
}

.mobile-nav-icon i {
    font-size: 200%;
    color: #fff;
}

/* --- HERO BOX ---*/

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/*----HEADINGS-----*/

h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #074E80;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}


/* --- PARAGRAPHS --- */

.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.box p {
    line-height: 145%;
    font-size: 90%;
}

/* ---- ICONS ---- */

.icon-big {
    font-size: 350%;
    color: #074E80;
    display: block;
    margin-bottom: 10px;
}

.icon-small {
    color: #074E80;
    display: inline-block;
    width: 30px;
    text-align: center;
    font-size: 120%;
    margin-right: 10px;
    /*secrets to align icons*/
    line-height: 120%;
    vertical-align: middle;
    margin-top: -7px;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* ----- BUTTONS ----- */

.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    border: 1px solid #72afd9;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #096cb2;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    color: #72afd9;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #72afd9;
}

.btn-ghost:hover,
.btn-ghost:active {
    color: #fff;
    border: 1px solid #72afd9;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #72afd9;
}

/*------ABOUT ME-----*/

.section-about-me .long-copy {
    margin-bottom: 30px;
}

/*-----LATELY--------*/

.section-lately {
    background-color: #f5f5f5;
}

/*-----WORK--------*/

.section-work {
    background-color: #f5f5f5;
    text-align: left;

}

.section-work h3 {
    margin-top: 16px;
    text-align: center;
}

.section-work .wrapper {
    margin: 0 auto;
}

.certification-badge {
    float: left;
    margin-left: 15px;
}




/*------FOOTER-------*/

footer {
    background-color: #333;
    padding: 40px;
    font-size: 80%;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav a:link,
.footer-nav a:visited,
.social-links a:link,
.social-links a:visited {
    color: #888;
    text-decoration: none;
    border: 0;
}

.footer-nav a:hover,
.footer-nav a:active,
.social-links a:hover,
.social-links a:active {
    color: #ddd;
    text-decoration: none;
    border: 0;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.social-links a:link,
.social-links a:visited {
    font-size: 160%;
}

.ion-social-twitter:hover {
    color: #55acee;
}

.ion-social-facebook:hover {
    color: #3b5998;
}

.ion-social-googleplus:hover {
    color: #dd4b39;
}

.ion-social-instagram:hover {
    color: #f09433;
}

.ion-social-linkedin:hover {
    color: #007bb6;
}

footer p {
    text-align: center;
    font-size: 90%;
    color: #888;
    margin-top: 20px;
}

